// COLORS
$primary-color: #2d8f92;
$secondary-color: #00cdac;

$white-color: #212529;

$dark-grey: #212529;
$light-grey: #212529;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
